body{
    font-family: Helvetica, sans-serif;
}
header h1{
    margin-top: 70px;
    text-align: center;
    background-image:linear-gradient(to right, blue,red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;  
    text-transform:capitalize;
}

.container{
    height: 100dvh;
    width: max-content;
    margin: auto;
    margin-top: 30px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.left-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-col h1{
    color: rgb(71, 37, 71);
    margin: 2%;
    padding: 2%;
}
small{
    display: block;
    font-size: 18px;
    width: 90px;
    text-align: center;
}
.right-col>*{
    margin: 20px 0;
}
label{
    display: inline-block;
    width: 80px;
}
input{
    width: 100px;
    border: none;
    border-bottom: 2px solid rgb(71, 37, 71);
    color: rgb(71, 37, 71);
    font-size: large;
}
input:focus{
    outline: none;
    color: rgb(71, 37, 71);
    font-size: large;
}
select{
    padding: 4px;
    border-radius: 6px;
    border: 1px solid rgb(71, 37, 71);
}
button{
    width: 100%;
    margin: 2%;
    padding: 2%;
    font-size: larger;
    background-color: rgb(71, 37, 71);
    color: white;
    border-radius: 13px;
    border: none;
}
button:hover{
    background-color: rgb(55, 28, 55);  
}

footer{
    position: sticky;
    bottom: 0;
}
footer p{
    color: gray;
    font-size: small;
    text-align: center;
}
@media only screen and (max-width= 400px) {
    *{
        font-size: smaller;
    }
}